spring:
  application:
    name: stock-symbols-service
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: always
nse:
  stock-symbols:
    url: https://nsearchives.nseindia.com/content/equities/EQUITY_L.csv